<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="UTF-8">
  <title>{%  block title %}QuantBet Portal{% endblock %}</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}/jstree/dist/themes/default/style.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap/custom-bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}/datetimepicker/dist/DateTimePicker.css">
  {% block css %}
  {% endblock %}
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Bet Statistics</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--<li><a href="/history/index">历史数据</a></li>-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="buttion" aria-expaned="false">
                  历史数据<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/history/football">足球数据</a></li>
                <li><a href="/history/basketball">篮球数据</a></li>
              </ul>
            </li>
          </ul>
          <!--
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
              <li class="navbar-text">{{ request.user.username }}</li>
              <li><a href="/accounts/logout">logout</a></li>
            {% else %}
              <li><a href="/accounts/login">Login</a></li>
            {% endif %}
          </ul>
          -->
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<!--main-container-part-->
    <!--
      <div id="content">
          <div id="content-header">
              <div id="breadcrumb">
                  {% block header %}
                  {% endblock %}
              </div>
          </div>
          {% block main_panel %}
          {% endblock %}
      </div>
     -->
<div class="container">
  {% block main-panel %}{% endblock %}
</div>

<footer class="footer">
  <div>
    <div style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
      &copy;
    </div>
    QuantBet 2016-2020
  </div>
</footer>

<script src="{{ STATIC_URL }}/jquery/dist/jquery.min.js"></script>
<script src="{{ STATIC_URL }}/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
<script src="{{ STATIC_URL }}highcharts/highcharts.js"></script>
<script src="{{ STATIC_URL }}datetimepicker/dist/DateTimePicker.min.js"></script>
{% block script %}
{% endblock %}
</body>
</html>
